.error{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.error h1{
    margin: 0;
    font-size: 14em;
    color: white;
}

.error p{
    font-size: medium;
    color: white;
}

